{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
        body {
            background-color: lightblue;
        }

        h1 {
            color: white;
            text-align: center;
        }

        p {
            font-family: verdana, serif;
            font-size: 20px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 4 Form</title>
</head>
<body>
<h1>Penggunaan CSS contoh</h1>
<p>halo semuanya, ini adalah form mengirim note</p>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Submit</button>
</form>
</body>
</html>
