<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>My Application</title>
</head>
<body>
{#  <header>#}
{#    <img src="{% static 'homepage/images/note.jpg' %}" alt="Note">#}
{#  </header>#}
  {% for note in daftar_note %}
    <h4> {{ note.title }} </h4>
    <p> {{ note.content }} </p>
    <hr>
  {% endfor %}
</body>
</html>
