<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Friend List Lab 3</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
    </tr>
    <!-- EXAMPLE SECTION -->

    {% if friends %}
        {% for friend in friends %}
            <tr>
                <td>{{ friend.name }}</td>
                <td>{{ friend.npm }}</td>
                <td>{{ friend.dob }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>No friends available.</tr>
    {% endif %}
    <!-- END SECTION -->
</table>
</body>
</html>
