<!DOCTYPE html>
<html>
<body>

<h2>Friend Form</h2>

<form method="post" action="{% url 'add_friend_form' %}">
    {% csrf_token %}
    <label for="Name">Friend Name:</label><br>
    <input type="text" id="Name" name="Name" value="Name"><br>
    <label for="npm">Friend NPM:</label><br>
    <input type="text" id="npm" name="npm" value="npm"><br><br>
    <label for="dob">Friend DOB:</label><br>
    <input type="text" id="dob" name="dob" value="dob"><br><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>

