<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes Lab_2</title>
  </head>
  <body>
{#    <h1>Title : {{ title }}</h1>#}
{#    <article>Recipient : {{ to }}</article>#}
{#    <article>Sender : {{ from }}</article>#}
{#    <article>Message : {{ message }}</article>#}

  <table>
    <tr>
        <th>Title</th>
        <th>To</th>
        <th>From</th>
        <th>Message</th>
    </tr>
    <!-- EXAMPLE SECTION -->

    {% if notes %}
        {% for note in notes %}
            <tr>
                <td>{{ note.title }}</td>
                <td>{{ note.to }}</td>
                <td>{{ note.sender }}</td>
                <td>{{ note.message }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>No notes available.</tr>
    {% endif %}
    <!-- END SECTION -->
</table>
  </body>
</html>
